---
import Layout from '../../layouts/Layout.astro'
---
<Layout>
    <main class="flex flex-col items-center min-h-screen p-4">
    <h1 class="text-3xl font-bold text-center">Prompt Page</h1>
    <p class="mt-4 text-center">hier kommt nix hin denk ich, ka was hier sinnvoll wäre</p>
    </main>
</Layout>