---
export const prerender = false;
import {PromptCard} from '../components/PromptCard.tsx';
import Layout from '../layouts/Layout.astro';
import {api} from '../lib/api.ts';
const cookie = Astro.request.headers.get("cookie");

// if(!isLoggedIn(cookie)){
//     return Astro.redirect('/auth');
// }

const res = await fetch("http://localhost:3000/prompts", {
    method: "GET",
    headers: {
        "Cookie": cookie ?? "",
    }
})
//const prompts = await api.getAllPrompts(cookie ?? undefined);
const prompts = await res.json();
console.log(prompts);
---
<!-- all prompts are displayed on the homepage, getPrompts is returning an array of prompts -->
<Layout>
    <main class="flex flex-col items-center min-h-screen p-4 space-y-2">
        {prompts.map((prompt) => (
                <div class="w-full">
                    <PromptCard client:only="react" prompt={prompt}/>
                </div>
        ))
        }
    </main>
</Layout>
