---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="p-4">
        <h1 class="text-3xl">Ich habe in der Bootsfahrschule gelernt, dass...</h1>
        <ul class="list-disc p-4">
            <li>mit Astro schnell Websites machen kann.</li>
            <li>Shadcn ganz cool ist.</li>
            <li>React overhyped ist, weil der Syntax aufgeblasener ist als z.B. Svelte.</li>
        </ul>
    </div>
</Layout>
