---
import Layout from '../layouts/Layout.astro';
---
<Layout>
    <div class="p-4">
        <h1 class="text-3xl">Ich habe in der Bootsfahrschule gelernt, dass...</h1>
        <ul class="list-disc p-4">
            <li>Astro eine recht gute Doku hat im Vergleich zu anderen Tools/Frameworks.</li>
            <li>Shadcn ganz cool ist.</li>
            <li>Svelte deserves more recognition. Der React Syntax ist assss.</li>
        </ul>
    </div>
</Layout>
